//////////// FICHA
a.bt-ficha {
	display: inline-block;
	padding: 6px 10px;
	text-transform: uppercase;
	color: white;
	background: $grafite;
	font-size: 0.8em;
	letter-spacing: 0.09em;
	font-weight: 500;

	&:hover {
		text-decoration: none;
		color: white;
		background: $preto;
	}
}

//////////// CABECALHO
#cabecalho {
	background: $cinza;
	// height: 195px;

	& > .opiniao{
		background-color: #E6E6E6;
		div{
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			padding-left: 1em;
			padding-right: 1em;
		}
		p{
			text-align: center;
			font-size: .8em;
			line-height: 1.4;
			margin: 0;

		}
	}

	& > .conteudo-cabecalho{
		padding: 30px 0;
		display: flex;
		justify-content: space-between;
		height: 100%;

		.area-logo {
			align-self: center;
			width: 260px;
			a{
				display: block;
				width: 100%;
				img{
					display: block;
					width: 100%;
				}
			}

			h1 {
				font-size: 1rem;
				margin: 20px 0 0 0;
				line-height: 1.4;
			}
		}

		.area-busca {
			width: calc(100% - 340px);
			display: flex;
			justify-content: space-between;
			flex-direction: column;

			a.bt-ficha {align-self: flex-end;}

			.exemplos {
				width: 100%; margin: .3em 0 0;
				font-style: italic; font-size: .85em;

				a {text-decoration: underline;}
			}
		}
	}

	&.simples{
		// height: 140px;

	& > .conteudo-cabecalho {
		align-items: center;
	}

		.area-logo{
			width: auto;
			display: flex;
			align-items: flex-start;
			a{
				width: 200px;
			}

			h1{
				max-width: 300px;
				margin: 0;
				margin-left: 1em;
				padding-top: 0;
			}
		}
	}


	@media screen and (max-width: 900px) {
		&, &.simples{
			& > .conteudo-cabecalho{
				display: block;
				.area-logo{
					width: auto;
					display: block;
					a{
						width: 150px;
						max-width: 100%;
						margin: 0 auto;
					}
					h1{
						margin: .5em 1.5em;
						padding-top: 0;
						text-align: center;
					}
				}

				.area-busca{
					width: auto;
					margin-top: 1em;
					font-size: .8em;

					a.bt-ficha{
						margin-left: auto;
						margin-right: auto;
					}

					form{
						margin-top: 1em;
					}
				}
			}
		}
	}
}

//////////// BUSCA
.busca {
	position: relative;

	input {
		padding-right: 60px;
	    font-size: 1.2em;
	    padding: .6rem .75rem;
	    height: auto;
	}

	button {
		bottom: 3px; right: 0;
		position: absolute;

		i {
		    font-size: 1.6em;
		}

		&:hover i {color:#196F3D}
	}
}
