@font-face {
    font-family: 'Khand';
    src: url('fonts/Khand-Regular.woff2') format('woff2'),
        url('fonts/Khand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Khand';
    src: url('fonts/Khand-SemiBold.woff2') format('woff2'),
        url('fonts/Khand-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

