//////////// RODAPE
.tainacan-footer {
	color: white;
	padding: 0; margin-top: 80px;

	.copyleft {
		padding: 30px 10px;
	}

	.creditos {
		padding: 30px 10px; position: relative;
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 600px) {
			display: block;
		}


		& > * {position: relative;}

		.tainacan {
			 margin-bottom: 10px;
			p{
				margin: 0;
			}

			p.creditos-tecnologias{
				font-size: 12px;
			}
			a.link-site-tainacan{
				img{
					// display: block;
				}
			}
			@media screen and (max-width: 600px) {
				text-align: center;
			}

			.opiniao{
				font-size: 14px;
				color: white;
				margin-top: 1em;
				a{
					color: white;
					text-decoration: underline;
				}
			}

		}

		.marcas {
			display: flex;
			align-items: center;
			img {
				display: block;
				margin-left: 20px;
				height: 2.5em;
			}

			@media screen and (max-width: 600px) {
				display: block;
				margin-top: 30px;

				img{
					display: block;
					width: 120px;
					max-width: 100%;
					margin: 10px auto 0;
				}
			}

		}
	}
}



//////////// MODAL
.modalciar {
	display: none;
	color: #212121;
	max-width: 98%;
	width: 1200px;
	padding: 0 0 3em;

	@keyframes modalSobe {
		0%{transform: translateY(5em)};
		100%{transform: translateY(0)};
	}
	animation: modalSobe 0.3s ease-out 0s 1 normal forwards;

	@media screen and (max-width: 900px) {
		font-size: .8em;
	}


	article {
		padding: 0 1.5em 1em;
		max-width: 960px;
		width: 100%;
		margin: -6em auto 0;
		display: block;
		position: relative;

		@media screen and (max-width: 900px) {
			margin-top: -10vw;
		}

		& > *{
			margin: 0;
			margin-top: 2rem;
			position: relative;
		}

		h1, h2{
			font-family: $fonte-titulo;
			text-align: center;
			text-transform: uppercase;
			font-weight: 600;
			display: block;
		}

		h1 { font-size: 3em; }
		h2 { font-size: 1.7em; }

		.seta {
		    width: 0;
		    height: 0;
		    margin: 1em auto 2em;
		    border-left: 15px solid transparent;
		    border-right: 15px solid transparent;
		    border-top: 15px solid #222;
		}

		p{
			text-align: justify;
			@include hyphens(auto);
			&.align-center{
				text-align: center;
			}
		}

		ul{
			list-style: none;
			padding-left: 0;
			li{ text-align: center; }

			&.logos{
				display: flex;
				justify-content: center;
				align-items: flex-end;
				flex-wrap: wrap;
				margin-top: 4rem;

				li{
					margin: 1em 2em;
					img{
						display: block;
						height: 2em;
						width: auto;
					}

					&:nth-child(1){
						img{
							height: 3.6rem;
						}
					}

					&:nth-child(2){
						img{
							height: 2rem;
						}
					}

					&:nth-child(3){
						img{
							height: 2.7rem;
						}
					}
				}
			}
		}

		a {
			color: #2874A6; font-weight: bold;
		}
	}
}

.fancybox-slide--html{
	padding: 4em 1em 10em;
	@media screen and (max-width: 900px) {
		padding: .5em .5em 4em;

		body.admin-bar &{
			padding-top: 3.5em;
		}
	}



	.fancybox-close-small {
	    color: currentColor;
	    padding: 4px;
	    left: 10px;
	    right: initial;
	    top: 10px;
	    width: 38px;
	    height: 38px;
	    background: white;
	    opacity: 1;
	    border-radius: 50%;

		@media screen and (max-width: 900px) {
			padding: 2px;
			left: 6px;
			top: 6px;
			width: 27px;
			height: 27px;
		}

	}	
} 