// ========================================//
// VARIAVEIS
// ========================================// 
$grafite: #333;
$preto: #222;
$cinza: #F0F0F0;

$fonte-corpo: 'Rubik',Arial,Helvetica,sans-serif;
$fonte-titulo: 'Khand',sans-serif;

@import "bourbon/bourbon";
@import "fontface";
@import "mixins";
@import "fancybox";
@import url('//fonts.googleapis.com/css?family=Rubik:300,300i,500,500i');


// ========================================//
// ESTILO
// ========================================// 
body {
	font-family: $fonte-corpo !important;
	font-weight: 300;
	font-size: 18px;
}

img {max-width: 100%; height: auto}


@import "cabecalho";
@import "home";
@import "componentes";
@import "pgdownload";
@import "rodape";




